body {
  background-color: #66CCFF;
  text-align: center;
  padding: 50px;
}

input[type="submit"] {
 background-color: cornflowerblue;
 color: darkred;
}

ul {
  list-style: none;
  background-color: gray;
}
